// ---- Global-Tags ----
html {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  &.fixed {
    overflow-y: hidden;
  }
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  background-color: $bg;
}
a {
  color: #fff;
}

// ---- Global-Classes ----
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}

.btn__wrapper {
  padding: 15px 0;
  filter: url('#goo');
}

.btn {
  padding: 12px 34px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-radius: 15px;
  background: $purple;
  color: #fff;
  transition: 0.3s;
  border: 3px solid $purple;
  & {
    display: inline-block;
    text-align: center;
    background: $purple;
    position: relative;
  }
  &:before,
  &:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: '';
    display: inline-block;
    background: $purple;
    border-radius: 50%;
    transition: transform 0.65s ease;
    transform: scale(0);
    z-index: -1;
  }
  &:before {
    top: -25%;
    left: 20%;
  }
  &:after {
    bottom: -25%;
    right: 20%;
  }
  &:hover:before,
  &:hover:after {
    transform: none;
  }
}

// ScrollBar
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: $green;
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  background-color: $purple2;
}

// Selection
::selection {
  background: rgba($green, 0.6) !important;
}
