//Max-Width: 1279px ================================
@media (min-width: 1600px) {
  .portfolio {
    .container {
      overflow: hidden;
    }
    .swiper-slide {
      height: 250px;
      &.swiper-slide-active {
        height: 280px;
      }
    }
  }
}

//Max-Width: 1200px ================================
@media (max-width: 1200px) {
}

//Max-Width: 1150px ================================
@media (max-width: 1150px) {
}

//Max-Width: 1100px ================================
@media (max-width: 1100px) {
  .match {
    .inner {
      padding: 25px 35px;
    }
  }
}

//Max-Width: 1023px ================================
@media (max-width: 1023px) {
  .work {
    margin-bottom: 70px;
  }
  .form {
    #form {
      width: 40%;
      margin-right: 0px;
    }
  }
}

//Max-Width: 950px ================================
@media (max-width: 950px) {
  .reason {
    .item {
      padding-top: 42px;
      padding-left: 34px;
    }
    .item::before {
      font-size: 55px;
      line-height: 85px;
    }
    .item__wrapper:nth-child(even) .item::after {
      transform: translate(-50%, -55%) scale(0.6);
      z-index: -10;
    }
    .item__wrapper:nth-child(4) .item::after,
    .item__wrapper:nth-child(6) .item::after {
      transform: translate(-50%, -50%) scale(0.6);
      top: 50%;
    }
    .item p {
      margin-left: 10px;
      font-size: 12px;
      line-height: 16px;
    }
  }
  .header .list li:not(:last-child) {
    margin-right: 15px;
  }
  .form {
    .inner {
      padding: 40px 40px;
    }
    #form {
      position: relative;
      z-index: 1;
      width: 40%;
      margin-right: -15%;
    }
    .img {
      position: relative;
      z-index: 0;
      width: 60%;
    }
  }
}

//Max-Width: 900px ================================
@media (max-width: 900px) {
}

//Max-Width: 850px ================================
@media (max-width: 850px) {
  .top {
    .content h1 {
      font-weight: 700;
      font-size: 26px;
      line-height: 37px;
    }
    .content p {
      margin-bottom: 18px;
    }
  }
  .work {
    .item {
      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }
      p {
        font-size: 12px;
        line-height: 14px;
      }
    }
    .item::after {
      font-size: 20px;
      line-height: 24px;
      left: 7px;
    }
    .item::before {
      transform: scale(0.6);
      left: 20px;
    }
  }
  .form {
    .inner {
      padding: 40px 35px;
    }
    #form {
      position: relative;
      z-index: 1;
      width: 40%;
      margin-right: -15%;
    }
    .img {
      position: relative;
      z-index: 0;
      width: 60%;
    }
  }
  .match {
    .item {
      margin-bottom: 15px;
      margin-right: 15px;
      font-size: 12px;
      line-height: 14px;
    }
    .list {
      margin-right: -15px;
      margin-bottom: -15px;
    }
    .title {
      font-size: 22px;
      line-height: 24px;
      margin-bottom: 25px;
    }
  }
}

//Планшет #########################################
//Max-Width: 800px ================================
@media (max-width: 800px) {
  .portfolio {
    padding-bottom: 30px;
  }
  .form {
    .img {
      .pattern1,
      .pattern2 {
        width: 200px;
      }
    }
  }
  .portfolio {
    .pagination {
      left: 35%;
    }
    .next,
    .prev {
      top: 50%;
    }
    .next {
      right: 25px;
    }
    .prev {
      left: 25px;
    }
    .inner {
      padding-bottom: 25px;
    }
    .title {
      margin-bottom: 25px;
    }
    .swiper {
      height: 250px;
    }
    .swiper-slide {
      height: 250px;
      &.swiper-slide-active {
        height: 250px;
      }
    }
  }
}

//Max-Width: 750px ================================
@media (max-width: 750px) {
  .top {
    .content {
      width: 55%;
      margin-right: -150px;
    }
    .pattern1,
    .pattern2 {
      width: 220px;
    }
  }
  .reason {
    .title {
      margin-bottom: 40px;
    }
    .item__wrapper {
      flex: 0 0 50%;
    }
    .item {
      margin-top: 0 !important;
    }
    .item__wrapper:nth-child(3n) {
      .item::after {
        content: url(../img/cloud.png);
        transform: translate(-50%, -45%) scale(0.6);
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: -10;
        display: block !important;
      }
      .item::before {
        z-index: -1;
        color: rgba($green, 0.3) !important;
      }
    }
    .item h3 {
      font-size: 16px;
      line-height: 18px;
    }
    .item__wrapper:nth-child(even) {
      .item {
        margin-top: 90px !important;
      }
      .item::after {
        display: none;
      }
    }
    .item__wrapper:nth-child(even) .item::before {
      color: $purple2;
    }
  }
  .about .inner {
    margin-bottom: 100px;
  }
  .form {
    .img {
      img {
        width: 100%;
        height: 100%;
      }
      .pattern1,
      .pattern2 {
        display: none;
      }
    }
  }
  .work {
    .inner {
    }
    .item__wrapper {
      flex: 0 0 50%;
      margin-bottom: 35px;
    }
  }
  .footer {
    .inner {
      display: grid;
      grid-template-areas:
        'box-1 box-1 box-1'
        'box-3 box-2 box-4';
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
    }
    .logo {
      grid-area: box-1;
      margin: 0 auto;
      margin-bottom: 35px;
    }
    .block {
      margin: 0 auto;
    }
    .block:nth-child(1) {
      grid-area: box-2;
    }
    .block:nth-child(2) {
      grid-area: box-3;
    }
    .soclist {
      grid-area: box-4;
      justify-content: center;
    }
  }
}

//Max-Width: 700px ================================
@media (max-width: 700px) {
  .marquee {
    font-size: 16px;
    line-height: 22px;
    .inner {
      height: 45px;
    }
    &::after,
    &::before {
      height: 45px;
    }
  }
  .about {
    .inner {
      padding: 30px;
    }
    .content {
      width: 90%;
    }
    .pretitle {
      font-size: 16px;
      line-height: 24px;
    }
    .patterns .pattern:nth-child(2) {
      top: 50%;
      right: 20px;
      transform: translateY(-50%) rotate(45deg);
    }
    .patterns .pattern:nth-child(1) {
      top: 60%;
      left: -30px;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

//Телефон #########################################
//Max-Width: 641px ================================
@media (max-width: 641px) {
  .form {
    .title {
      font-size: 20px;
      line-height: 26px;
    }
    #form {
      width: 50%;
    }
    .img {
      width: 50%;
    }
  }
  .btn__wrapper {
    padding: 0;
    .btn::after,
    .btn::before {
      display: none;
    }
  }
}

//Max-Width: 600px ================================
@media (max-width: 600px) {
  .match {
    .item {
      white-space: normal;
      text-align: center;
    }
  }
}

//Max-Width: 550px ================================
@media (max-width: 550px) {
  .marquee {
    .text {
      animation-delay: -39s;
    }
    .text:nth-child(2) {
    }
  }
  .top {
    margin-top: 70px;
    margin-bottom: 100px;
    .content h1 {
      font-size: 20px;
      line-height: 23px;
    }
    .img {
      position: relative;
      margin-right: -50px;
      z-index: 0;
      justify-content: flex-end;
      width: 350px;
    }
    .pattern1 {
      left: 50px;
    }
    .pattern1,
    .pattern2 {
      width: 180px;
    }
    .content {
      position: relative;
      z-index: 0;
      margin-right: -200px;
    }
    .content h1 {
      font-size: 22px;
      line-height: 25px;
    }
  }
  .portfolio .pagination {
    left: 28%;
  }
  .marquee {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .form {
    .title {
      font-size: 20px;
      line-height: 26px;
    }
    #form {
      width: 100%;
    }
    .img {
      display: none;
    }
  }
  .header {
    .wrapper .list li {
      font-size: 30px;
      line-height: 40px;
    }
    .wrapper .btn__wrapper .btn {
      font-size: 18px;
      padding: 20px 45px;
    }
  }
  .footer {
    margin-top: 71px;
    padding-top: 35px;
    .inner {
      grid-template-areas:
        'box-1 box-4'
        'box-3 box-2';
      grid-template-columns: 1fr 1fr;
    }
    .logo {
      margin-bottom: 0;
    }
    .soclist {
      margin: auto;
    }
    .block {
      margin: 0 auto;
      margin-top: 35px;
    }
    .footer__up::after,
    .footer .footer__up::before {
      height: 1px;
    }
    .footer__up .arrow {
      width: 30px;
      height: 30px;
    }
    .footer__up .arrow svg {
      width: 30%;
    }
  }
  .title {
    font-size: 20px;
    line-height: 24px;
  }
  .btn {
    padding: 10px 30px;
    font-size: 12px;
    line-height: 14px;
  }
  .about {
    .inner {
      padding: 30px 25px;
    }
    .content {
      width: 100%;
    }
    .pretitle {
      font-size: 14px;
      line-height: 20px;
    }
    .text {
      font-size: 12px;
      line-height: 20px;
    }
    .patterns .pattern:nth-child(2) {
      width: 170px;
      top: auto;
      bottom: -20%;
      right: 35px;
      transform: translateY(0%) rotate(85deg);
    }
    .patterns .pattern:nth-child(1) {
      width: 170px;
      bottom: -20%;
      top: auto;
      left: 0px;
      transform: translateY(0%) rotate(-45deg);
    }
  }
}

//Max-Width: 500px ================================
@media (max-width: 500px) {
  .reason {
    margin-bottom: 130px;
    .item {
      padding-top: 26px;
      padding-left: 16px;
    }
    .item h3 {
      font-size: 14px;
      line-height: 16px;
    }
    .item p {
      font-size: 10px;
      line-height: 14px;
    }
    .item::before {
      font-size: 37px;
      line-height: 50px;
    }
    .item__wrapper:nth-child(3n) .item::after {
      transform: translate(-50%, -50%) scale(0.5);
    }
  }
  .portfolio {
    .pagination {
      left: 25%;
    }
  }
  .work {
    .title {
      margin-bottom: 30px;
    }
    .item::after {
      font-size: 18px;
      line-height: 24px;
      left: 5px;
    }
    .item {
      padding-left: 40px;
    }
    .item::before {
      left: 12px;
    }
    .item p::after {
      left: -12px;
    }
    .item h3 {
      font-size: 14px;
      line-height: 16px;
    }
    .list {
      margin: 0 -10px;
    }
    .item__wrapper {
      flex: 0 0 50%;
      padding: 0 10px;
      margin-bottom: 35px;
    }
  }
}

//Max-Width: 450px ================================
@media (max-width: 450px) {
  .header {
    .logo {
      width: 170px;
    }
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
    .logo {
      width: 150px;
      margin: 0;
    }
    .block {
      margin: 30px 0 0 0;
    }
    .block2 {
      margin-left: auto;
    }
    .block__title {
      font-size: 14px;
      line-height: 18px;
    }
    .block .list li {
      font-size: 12px;
      line-height: 16px;
    }
    .soclist .item {
      width: 30px;
      height: 30px;
    }
    .soclist {
      margin: auto 0;
      justify-content: flex-end;
    }
  }
  .match {
    .inner {
      padding: 25px 15px;
    }
    .item {
      margin-bottom: 10px;
      margin-right: 10px;
      padding: 10px 20px;
    }
    .list {
      margin-right: -10px;
      margin-bottom: -10px;
    }
    .title {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }
}

//Max-Width: 400px ================================
@media (max-width: 400px) {
  .header {
    margin-bottom: 45px;
    .wrapper .list li {
      font-size: 22px;
      line-height: 25px;
    }
    .wrapper .btn__wrapper .btn {
      font-size: 16px;
      padding: 14px 45px;
    }
  }
  .marquee {
    font-size: 14px;
    line-height: 22px;
    .inner {
      height: 35px;
    }
    &::after,
    &::before {
      height: 35px;
    }
    .text {
      width: auto;
      animation: animate 40s linear infinite;
      animation-delay: -40s;
    }
    .text:nth-child(2) {
      width: auto;
      animation: animate2 40s linear infinite;
      animation-delay: -20s;
    }
  }
  .top {
    .img {
      width: 300px;
    }
  }
  .form {
    .inner {
      padding: 30px 20px;
    }
  }
  .portfolio {
    .pagination {
      left: 50%;
      transform: translateX(-32%);
    }
  }
  .work {
    .list {
      margin: 0;
    }
    .item__wrapper {
      padding: 0;
    }
    .item::after {
      font-size: 16px;
      line-height: 22px;
    }
    .item h3 {
      font-size: 12px;
      line-height: 14px;
    }
    .item p {
      font-size: 10px;
      line-height: 12px;
    }
  }
  .about {
    .inner {
      padding: 30px 15px;
    }
  }
  .container {
    padding: 0px 10px;
  }
}

//Max-Width: 359px ================================
@media (max-width: 359px) {
}

//Max-Width: 340px ================================
@media (max-width: 340px) {
}
